* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
* .fp-tableCell {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
* ::-webkit-scrollbar-track {
  background-color: #666666;
}
* ::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #424242;
}
* ::-webkit-scrollbar-thumb:hover {
  background-color: #363636;
}
* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
* input::-webkit-input-placeholder {
  color: #a9a9a9;
}
* ::-moz-selection {
  color: #a9a9a9;
}
* ::selection {
  color: #a9a9a9;
}

body {
  background-color: #949494;
}

.section .fp-tableCell {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  background-image: url(../img/space.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
  color: #232323;
}
header #scene {
  transition: 1s ease;
  opacity: 0;
}
header #canvas {
  position: absolute;
  margin: 0 auto;
  height: 100vh;
}
header #wrap {
  position: absolute;
  border: 10px solid rgba(255, 255, 255, 0.5);
  max-height: 600px;
  max-width: 600px;
  height: 100%;
  width: 100%;
  margin: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #wrap #inner {
  background: rgba(255, 255, 255, 0.7);
  width: 98%;
  height: 98%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mate SC", serif;
  transition: 0.4s ease;
  overflow: hidden;
  position: relative;
}
header #wrap #inner:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}
header #wrap #inner #nameWebsite, header #wrap #inner #persona {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 0.4s ease;
}
header #wrap #inner #nameWebsite {
  z-index: 1;
}
header #wrap #inner #nameWebsite h1 {
  text-transform: uppercase;
  color: #2d447f;
  font-size: 60px;
}
@media screen and (max-width: 600px) {
  header #wrap #inner #nameWebsite h1 {
    font-size: 10vw;
  }
}
header #wrap #inner #heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  opacity: 0;
  z-index: 0;
}
header #wrap #inner #heading h2 {
  font-size: 35px;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  header #wrap #inner #heading {
    font-size: 5vw;
  }
  header #wrap #inner #heading h2 {
    font-size: 5vw;
  }
}
header #wrap #inner #persona {
  opacity: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #wrap #inner #persona img {
  width: 100%;
}

#sectionsSkills {
  background-image: url(../img/skillsBackground.jpg);
  background-position: bottom;
  background-size: cover;
  font-family: "Staatliches", cursive;
  color: #bbb;
}
#sectionsSkills h2 {
  font-size: 40px;
  margin: 10px auto;
  padding-bottom: 40px;
  text-align: center;
  transition: 0.4s ease;
}
@media screen and (max-width: 483px) {
  #sectionsSkills h2 {
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 580px) {
  #sectionsSkills h2 {
    font-size: 6vw;
  }
}
#sectionsSkills #blockSkills {
  height: 600px;
  max-width: 1340px;
  width: auto;
  transition: 0.4s ease;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  padding: 0 10px;
  margin: 0 auto;
}
#sectionsSkills #blockSkills .blockSkillsContainer {
  max-width: 100vw;
  position: relative;
  transition: 0.4s ease;
}
#sectionsSkills #blockSkills .blockSkillsContainer .blockSkillsItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  transition: 0.4s ease;
  position: relative;
  height: 100%;
}
#sectionsSkills #blockSkills #blockSkillsItem1 {
  grid-template-areas: "project VueJs" "JavaScript JavaScript" "JavaScript JavaScript" "HTML CSS";
}
#sectionsSkills #blockSkills #blockSkillsItem1 .blockSkillsContainerButton {
  right: 0;
  border-radius: 10px 0 0 10px;
}
#sectionsSkills #blockSkills #blockSkillsItem2 {
  grid-template-areas: "working2 working3" "working2 working3" "ThreeJs ThreeJs" "ThreeJs ThreeJs";
}
#sectionsSkills #blockSkills #blockSkillsItem2 .blockSkillsContainerButton {
  left: 0;
  border-radius: 0 10px 10px 0;
}
#sectionsSkills #blockSkills #JavaScript {
  grid-area: JavaScript;
}
#sectionsSkills #blockSkills #project {
  grid-area: project;
}
#sectionsSkills #blockSkills #ThreeJs {
  grid-area: ThreeJs;
}
#sectionsSkills #blockSkills #HTML {
  grid-area: HTML;
}
#sectionsSkills #blockSkills #CSS {
  grid-area: CSS;
}
#sectionsSkills #blockSkills #VueJs {
  grid-area: VueJs;
}
#sectionsSkills #blockSkills #working2 {
  grid-area: working2;
}
#sectionsSkills #blockSkills #working3 {
  grid-area: working3;
}
#sectionsSkills #blockSkills #working .headerSkill, #sectionsSkills #blockSkills #working2 .headerSkill, #sectionsSkills #blockSkills #working3 .headerSkill {
  font-size: 25px;
}
#sectionsSkills #blockSkills .cardSkills {
  background-color: rgba(162, 162, 162, 0.5);
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  transition: 0.4s ease;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 23px;
  position: relative;
}
#sectionsSkills #blockSkills .cardSkills:hover {
  background-color: rgba(71, 71, 71, 0.5);
  border: 1px solid #8f8f8f;
  cursor: pointer;
}
#sectionsSkills #blockSkills .cardSkills .headerSkill {
  display: flex;
  align-items: center;
  font-size: 40px;
}
#sectionsSkills #blockSkills .cardSkills .headerSkill i {
  margin-right: 10px;
}
#sectionsSkills #blockSkills .cardSkills span {
  font-size: 25px;
}
#sectionsSkills #blockSkills .blockSkillsContainerButton {
  width: 30px;
  height: 60px;
  background-color: #1b1b1b;
  position: absolute;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media screen and (max-width: 1070px) {
  #sectionsSkills #blockSkills .cardSkills {
    font-size: 2.1vw;
  }
  #sectionsSkills #blockSkills .cardSkills .headerSkill {
    font-size: 4vw;
  }
  #sectionsSkills #blockSkills .cardSkills span {
    font-size: 2.7vw;
  }
  #sectionsSkills #blockSkills #working .headerSkill, #sectionsSkills #blockSkills #working2 .headerSkill, #sectionsSkills #blockSkills #working3 .headerSkill {
    font-size: 2vw;
  }
}
@media screen and (max-width: 768px) {
  #sectionsSkills #blockSkills .blockSkillsContainer {
    width: 200vw;
  }
  #sectionsSkills #blockSkills .blockSkillsContainer .blockSkillsItem {
    padding: 0 10px;
  }
  #sectionsSkills #blockSkills .blockSkillsContainerButton {
    display: flex;
  }
  #sectionsSkills #blockSkills .cardSkills {
    font-size: 3.1vw;
  }
  #sectionsSkills #blockSkills .cardSkills .headerSkill {
    font-size: 7vw;
  }
  #sectionsSkills #blockSkills .cardSkills span {
    font-size: 4.7vw;
  }
}
@media screen and (max-width: 580px) {
  #sectionsSkills #blockSkills .blockSkillsContainer {
    gap: 5px;
  }
  #sectionsSkills #blockSkills .cardSkills {
    font-size: 4.1vw;
  }
  #sectionsSkills #blockSkills .cardSkills .headerSkill {
    font-size: 7vw;
  }
}
@media screen and (max-width: 768px) {
  #sectionsSkills #blockSkills {
    padding: 0;
    margin-bottom: 10px;
  }
}
#sectionsSkills .exampleBlock {
  position: absolute;
  margin: 0 auto;
  width: 0vw;
  height: 0vh;
  background-color: #757575;
  transition: 0.6s ease;
  border-radius: 50%;
  z-index: -10;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px 0;
}
#sectionsSkills .exampleBlock .contentExampleBlock {
  background-color: #5f5f5f;
  width: 100vw;
  height: 100vh;
}
#sectionsSkills .exampleBlock .exampleClose {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  color: #305199;
  margin: 4px auto;
  transition: 0.6s ease;
}
#sectionsSkills .exampleBlock .exampleClose p {
  display: flex;
  justify-content: center;
}
#sectionsSkills .exampleBlock .exampleClose p i {
  margin-left: 5px;
}
#sectionsSkills .exampleBlock .exampleClose:hover {
  color: #2d447f;
  cursor: pointer;
}

#particles-js {
  background-size: cover;
  font-family: "Roboto Condensed", sans-serif;
  color: #bbb;
  background-color: #2d2d2d;
}
#particles-js #blockPersona {
  background-color: rgba(103, 103, 103, 0.4);
  border: 1px solid black;
  border-radius: 25px;
  transition: 0.4s ease;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}
#particles-js #blockPersona #personInfo {
  position: relative;
  height: 700px;
  width: 580px;
}
#particles-js #blockPersona #personInfo:hover #personImg {
  transform: translateY(30px) scale(0.7);
}
#particles-js #blockPersona #personInfo:hover #personImg img {
  border-radius: 25px;
}
#particles-js #blockPersona #personInfo #personImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.6s ease;
  z-index: 10;
  transform-origin: top;
}
#particles-js #blockPersona #personInfo #personImg img {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.6s ease;
  border-radius: 25px 0 0 25px;
}
#particles-js #blockPersona #personInfo #personContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}
#particles-js #blockPersona #personInfo #personContent h2 {
  text-align: center;
}
#particles-js #blockPersona #personInfo #personContent h2 span {
  font-size: 20px;
}
#particles-js #blockPersona #personInfo #personContent ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 5px;
  font-size: 26px;
}
#particles-js #blockPersona #personInfo #personContent ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: rgba(101, 101, 101, 0.5);
  border: 1px solid #3f3f3f;
  margin: 0px 5px;
  border-radius: 50%;
  position: relative;
  transition: 0.4s ease;
}
#particles-js #blockPersona #personInfo #personContent ul li:hover {
  background-color: rgba(49, 49, 49, 0.5);
  border: 1px solid #7c7c7c;
  cursor: pointer;
}
#particles-js #blockPersona #personInfo #personContent ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  text-decoration: none;
}
#particles-js #blockPersona #personInfo #personContent ul li a img {
  width: 28px;
}
#particles-js #blockPersona #personInfo #personContent ul #socialTelegram a img {
  position: absolute;
  right: 9px;
}
#particles-js #blockPersona #statsPersona {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 40px 20px;
}
#particles-js #blockPersona #statsPersona h2 {
  text-align: center;
}
#particles-js #blockPersona #statsPersona ol {
  margin-top: 20px;
  font-weight: 500;
  line-height: 33px;
}
#particles-js #blockPersona #statsPersona ol ul {
  font-size: 25px;
  margin-top: 15px;
}
#particles-js #blockPersona #statsPersona ol ul li {
  font-size: 20px;
  margin-left: 22px;
}
#particles-js #blockPersona #statsPersona ol #statsPersonaPerks li {
  position: relative;
  font-weight: bold;
}
#particles-js #blockPersona #statsPersona ol #statsPersonaPerks li:hover {
  cursor: help;
}
#particles-js #blockPersona #statsPersona ol #statsPersonaPerks li:hover::after {
  font-weight: normal;
  content: attr(data-title);
  position: absolute;
  left: 20%;
  top: 30%;
  z-index: 100;
  background: rgba(54, 54, 54, 0.9);
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #333;
  line-height: 20px;
}
#particles-js #blockPersona #statsPersona .blockPersonaContainerButton {
  width: 30px;
  height: 60px;
  background-color: #1b1b1b;
  position: absolute;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 10px 0 0 10px;
}
@media screen and (max-width: 1000px) {
  #particles-js #blockPersona {
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 0fr;
  }
  #particles-js #blockPersona #personInfo {
    height: 550px;
  }
  #particles-js #blockPersona #personInfo #personImg img {
    border-radius: 25px 25px 0 0;
  }
  #particles-js #blockPersona #personInfo #personContent {
    padding: 0;
  }
  #particles-js #blockPersona #statsPersona {
    padding: 0px;
    justify-content: center;
    position: relative;
  }
  #particles-js #blockPersona #statsPersona h2 {
    display: none;
  }
  #particles-js #blockPersona #statsPersona ol {
    width: 200%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
  }
  #particles-js #blockPersona #statsPersona ol ul {
    position: relative;
    margin: 0;
    padding: 0 20px;
    transition: 0.4s ease;
  }
  #particles-js #blockPersona #statsPersona .blockPersonaContainerButton {
    display: flex;
  }
}
@media screen and (max-width: 580px) {
  #particles-js #blockPersona #personInfo {
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  #particles-js #blockPersona {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #particles-js #blockPersona #personInfo {
    width: 100%;
    height: 100%;
  }
  #particles-js #blockPersona #personInfo:hover #personImg {
    transform: translateY(10px) scale(0.5);
  }
  #particles-js #blockPersona #statsPersona #statsPersonaOl ul {
    font-size: 6vw;
  }
  #particles-js #blockPersona #statsPersona #statsPersonaOl ul li {
    font-size: 5vw;
  }
}

#infoContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(95, 95, 95, 0);
  z-index: 20;
  transition: 0.4s ease;
  overflow: hidden;
}
#infoContainer:hover {
  cursor: pointer;
}
#infoContainer #infoContent {
  opacity: 0;
  background-color: #424242;
  border-radius: 25px;
  border: 1px solid black;
  color: black;
  padding: 20px;
  font-size: 20px;
}
#infoContainer #infoContent ul li {
  list-style: none;
}
#infoContainer #infoContent ul li a {
  text-decoration: none;
  color: black;
}
#infoContainer #infoButton {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #313131;
  transition: 0.4s ease;
  background-color: rgba(95, 95, 95, 0.5);
  overflow: hidden;
}
#infoContainer #infoButton:hover {
  cursor: pointer;
  background-color: rgba(163, 163, 163, 0.5);
  color: #bdbdbd;
}/*# sourceMappingURL=style.css.map */