$backColorBody: #c4c4c4;
$backColorBasic: #868686;
$backColorSecondary: #c4c4c4;
$backColorTertiary: rgb(194, 68, 51);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yusei Magic', sans-serif;

  &::selection {
    background-color: $backColorTertiary;
    color: white;
  }

  &:focus{
    outline: none;
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.32);
  }

  button:active{
    outline: none;
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.32);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $backColorSecondary;
  }
  &::-webkit-scrollbar{//а????
    width: 5px;
    background-color:rgba(0, 0, 0 ,0);
  }

}

body{
  height: 100vh;
  width: 100vw;
  background-color: $backColorBody;
  background-image: url(image/fon.png);
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockRegistr{
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  width: 80%;
  background-color: $backColorBasic;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  h1{
    margin-top: 40px;
    font-weight: 500;
    font-size: 50px;
  }

  h2{
    font-weight: 100;
    font-size: 30px;
  }

  button{
    background-color: $backColorSecondary;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0 15px 5px 15px;
    font-size: 30px;
    margin: 6px;
    transition: .4s ease;

    &:hover{
      background-color: $backColorTertiary;
      color: white;
      padding: 0 25px 5px 25px;
      cursor: pointer;
      box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.32);
    }

  }

  #buttonEnter{
    margin-top: 40px;
  }

  #buttonRegistr{
    margin-bottom: 40px;
  }

  #buttonInformation{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    border-radius: 5px;

    &:hover{
      padding: 0 15px 5px 15px;
    }

  }


  //стилизация блока с важной информацией
  #importantInform{
    outline: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 20px;
    overflow: hidden;
    background-color: $backColorBasic;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    margin: 8px;
    transition: .4s ease;

    h2{
      font-size: 40px;
    }

    p{
      margin-top: 20px;
      font-size: 20px;
    }

    #buttonInformationClose{
      font-size: 30px;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0 9px;

      i{
        transition: .4s ease;

        &:hover{
          color: $backColorTertiary;
          transform: rotate(90deg);
          cursor: pointer;

        }

      }

    }

  }

  //стилизация блока регистрвции
  .authorizationBlock{
    z-index: -1;
    width: 100px;
    height: 35px;
    overflow: hidden;
    position: absolute;
    background-color: $backColorBasic;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .4s ease;

    h2{
      text-align: center;
      margin-bottom: 10px;
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input{
        max-width: 240px;
        transition: .4s ease;
        border: 1px solid black;
        background-color: $backColorSecondary;
        margin: 5px;
        padding: 5px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

      }

      #genderBlock{

        input{
          width: auto;

          &:focus{
            box-shadow: none;
          }

        }

      }

      button{
        margin-top: 15px;
      }

    }

    #buttonRegistrClose{
      font-size: 30px;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0 9px;

      i{
        transition: .4s ease;

        &:hover{
          color: $backColorTertiary;
          transform: rotate(90deg);
          cursor: pointer;

        }

      }

    }

  }

}



@import "_mixin.scss";
