@mixin flexAlign{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin fonAlign{
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

$mainColor: rgb(182, 67, 143);

.registrPageBody{
  background-color: $mainColor;
  background-image: url(../img/fon.png);
  @include fonAlign;
  background-position: center;
}

#fullpage{
  max-width: 1140px;
  min-height: 400px;
  margin: 0 auto;
}

// страница регистрации, 1-ая секция
.registration{
  width: 100%;
  @include flexAlign;

  .container{
    padding: 160px 30px 40px 30px;
    border-radius: 30px;
    min-width: 50%;
    min-height: 100px;
    background-image: url(../gif/fon.gif);
    @include fonAlign;
    box-shadow: 0px 0px 22px 19px rgba(34, 60, 80, 0.23);
    @include flexAlign;
    flex-direction: column;

    h1{
      font-family: 'Dancing Script', cursive;
      font-size: 50px;
      text-align: center;
    }

    h2{
      font-family: 'Dancing Script', cursive;
      font-size: 25px;
      text-align: center;
      font-weight: 100;
    }

    .registrForm{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;


      input{
        width: 300px;
        background-color: rgba(255, 255, 255, 0);
        margin-top: 15px;
        border: none;
        border-bottom: 1px solid #000;
        padding: 5px;

        &::-webkit-input-placeholder{
          color: black;
        }

        &:hover{
          padding-left: 10px;
          cursor: pointer;
        }

        &:focus{
          padding-left: 10px;
          background-color: rgba(99, 33, 116, 0.6);
          border-radius: 5px;
          color: #fff;

          &::-webkit-input-placeholder{
            color: #fff;
          }

        }

      }

      button{
        background-color: rgba(0, 0, 0, 0);
        margin-top: 35px;
        border: 1px solid black;
        border-radius: 30px;
        padding: 5px;
        font-size: 25px;
        padding: 5px 10px;

        &:hover{
          cursor: pointer;
          background-color: $mainColor;
          color: #fff;
          border-radius: 5px;
        }

      }

    }

    .enterRegistrPC{
      @include flexAlign;
      flex-direction: column;

      h3{
        margin-top: 30px;
        font-size: 25px;
        font-weight: 100;

      }

      button{
        background-color: rgba(0, 0, 0, 0);
        margin-top: 15px;
        border: 1px solid black;
        border-radius: 30px;
        padding: 5px;
        font-size: 25px;
        padding: 5px 10px;

        &:hover{
          cursor: pointer;
          background-color: $mainColor;
          color: #fff;
          border-radius: 5px;
        }

      }

      .socialToils{
        margin-top: 10px;
        @include flexAlign;
        height: 40px;
        width: 200px;

        i{
          width: 100%;
          height: 100%;
          color: black;
          font-size: 25px;
          @include flexAlign;

          &:hover{
            color: $mainColor;
            cursor: pointer;
          }

        }

      }

      @keyframes moveArrow{
        0%{ bottom: 5px;}
        50%{ bottom: -5px;}
        100%{ bottom: 5px;}
      }

      .fa-angle-double-down{
        font-size: 30px;
        margin-top: 15px;
        position: relative;
        animation: moveArrow 2s ease infinite;
        color: black;

        &:hover{
          color: $mainColor;
          cursor: pointer;
        }

      }

    }

    .enterRegistrMob{
      display: none;

      button{
        background-color: rgba(0, 0, 0, 0);
        margin-top: 15px;
        border: 1px solid black;
        border-radius: 30px;
        padding: 5px;
        font-size: 25px;
        padding: 5px 10px;

        &:hover{
          cursor: pointer;
          background-color: $mainColor;
          color: #fff;
          border-radius: 5px;
        }

      }

      .fa-angle-double-down{
        font-size: 30px;
        margin-top: 40px;
        position: relative;
        animation: moveArrow 2s ease infinite;
        color: black;

        &:hover{
          color: $mainColor;
          cursor: pointer;
        }

      }

    }

  }

}

// страница регистрации, 2-ая секция
.information{

  .container{
    width: 100%;
    box-shadow: 0px 0px 22px 19px rgba(34, 60, 80, 0.23);
    background-color: rgb(190, 154, 235);
    @include flexAlign;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;

    h2{
      font-family: 'Dancing Script', cursive;
      font-size: 25px;
      text-align: center;
      font-weight: 100;
      margin-bottom: 20px;
    }

    .sliderGrid{
      height: 377px;
      width: 320px;
      display: none;
      grid-template-columns: 1fr 6fr 1fr;
      grid-template-rows: 1.7fr 0.3fr;
      grid-template-areas:
       "arrowLeft imageSlider arrowRight"
       "arrowLeft revertGender arrowRight";

      @keyframes sliderRotate{
        0%{transform: rotateY(0deg);}
        50%{transform: rotateY(90deg);}
        100%{transform: rotateY(0deg);}
      }

      .arrowLeft{
        grid-area: arrowLeft;
        i{
          padding: 5px 5px 5px 3px;
        }
      }
      .arrowRight{
        grid-area: arrowRight;
        i{
          padding: 5px 3px 5px 5px;
        }
      }
      .imageSlider{
        grid-area: imageSlider;
      }
      .revertGender{
        grid-area: revertGender;
        background-color: white;
        border-radius: 0px 0px 15px 15px;
        @include flexAlign;
        justify-content: center;
        font-size: 30px;
        border: none;
        transition: .4s ease;

        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        &:hover{
          cursor: pointer;
          // animation: sliderRotate 4s ease infinite;
        }

        i{
          margin-left: 10px;
          font-size: 30px;
        }

      }

      .arrow{
        @include flexAlign;

        i{
          font-size: 30px;
          background-color: white;
          border-radius: 15px;
        }

      }

      .registrBestAccountPeopleSlider{
        height: 320px;
        width: 240px;
        @include fonAlign;
        overflow: hidden;
        border-radius: 15px 15px 0px 0px;
        background-image: url(../img/photoAccount/girl1.jpg);

        .registrBestAccountPeopleSliderHover{
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          position: relative;
          top: 100%;

          .contentTitleSlider{
            @include flexAlign;
            flex-direction: column;

            .buttonSliderClose{
              width: 100%;
              border: none;
              background-color: rgba(0,0,0,0);
              color: white;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              padding: 5px;
              font-style: 15px;
              transition: .4s ease;

              &:hover{
                cursor: pointer;
                background-color: black;
              }

              i{
                margin-left: 5px;
              }

            }

            h3{
              font-size: 30px;
              align-items: center;
              color: white;
              font-weight: 100;
            }

          }

          .registrBestAccountPeopleSliderHoverGrid{
            width: 200px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 0.5fr;
            gap: 10px;
            grid-template-areas:
              "likeBestAccountRegistr mailBestAccountRegistr"
              "linkBestAccountRegistr linkBestAccountRegistr";

            div{
              border: 2px solid white;
              border-radius: 5px;
              @include flexAlign;
              padding: 5px;

              i{
                font-size: 40px;
                color: white;
              }

            }

            .likeBestAccountRegistrSlider {
              grid-area: likeBestAccountRegistr;

            }

            .mailBestAccountRegistrSlider {
              grid-area: mailBestAccountRegistr;

            }

            .linkBestAccountRegistrSlider {
              border: 2px solid white;
              border-radius: 5px;
              background-color: rgba(0,0,0,0);
              font-size: 25px;
              grid-area: linkBestAccountRegistr;
              color: white;
              padding: 5px 0;

            }

          }

        }

      }

    }

    .topGirlRegistr{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .peopleBestGirl1{
        background-image: url(../img/photoAccount/girl1.jpg);
      }
      .peopleBestGirl2{
        background-image: url(../img/photoAccount/girl2.jpg);
      }
      .peopleBestGirl3{
        background-image: url(../img/photoAccount/girl3.jpg);
      }
      .peopleBestGirl4{
        background-image: url(../img/photoAccount/girl4.jpg);
      }
      .peopleBestGirl5{
        background-image: url(../img/photoAccount/girl5.jpg);
      }

      .accounGenderNameRegistrWoman{
        margin-right: 20px;
      }

    }

    .topManRegistr{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .peopleBestMan1{
        background-image: url(../img/photoAccount/man1.jpg);
      }
      .peopleBestMan2{
        background-image: url(../img/photoAccount/man2.jpg);
      }
      .peopleBestMan3{
        background-image: url(../img/photoAccount/man3.jpg);
      }
      .peopleBestMan4{
        background-image: url(../img/photoAccount/man4.jpg);
      }
      .peopleBestMan5{
        background-image: url(../img/photoAccount/man5.jpg);
      }

      .accounGenderNameRegistrTop{
        display: none;
        margin: 0;

      }
      .accounGenderNameRegistrBottom{
        display: flex;
        margin-left: 20px;
        margin-right: 0;

        img{
          height: 40px;
        }

      }

    }

    .accounGenderNameRegistr{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 60px;
      background-color: white;
      padding: 10px;
      font-size: 30px;
      border-radius: 15px;

      img{
        height: 40px;
      }

    }

    .registrBestAccountContainer{
      height: 250px;
      width: 100%;
      @include flexAlign;

      .registrBestAccountPeople{
        height: 226px;
        width: 170px;
        @include fonAlign;
        overflow: hidden;
        border-radius: 15px;
        box-shadow:0px 0px 14px 1px rgba(0,0,0,0.88);

        &:hover{
          .registrBestAccountPeopleHover{
            top: 0;
          }
        }

        .registrBestAccountPeopleHover{
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          padding: 10px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          top: 100%;

          h3{
            font-size: 20px;
            color: white;
            font-weight: 100;
          }

          .registrBestPeopleHoverGrid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 0.5fr;
            gap: 10px;
            grid-template-areas:
              "likeBestAccountRegistr mailBestAccountRegistr"
              "linkBestAccountRegistr linkBestAccountRegistr";

            div{
              border: 2px solid white;
              border-radius: 5px;
              @include flexAlign;
              padding: 5px;

              i{
                font-size: 35px;
                color: white;
              }

            }

            .likeBestAccountRegistr {
              grid-area: likeBestAccountRegistr;

              &:hover{
                border-color: $mainColor;
                cursor: pointer;
                i{
                  color: $mainColor;
                }
              }

            }

            .mailBestAccountRegistr {
              grid-area: mailBestAccountRegistr;

              &:hover{
                border-color: $mainColor;
                cursor: pointer;
                i{
                  color: $mainColor;
                }
              }

            }

            .linkBestAccountRegistr {
              border: 2px solid white;
              border-radius: 5px;
              background-color: rgba(0,0,0,0);
              font-size: 15px;
              grid-area: linkBestAccountRegistr;
              color: white;
              padding: 5px 0;

              &:hover{
                border-color: $mainColor;
                color: $mainColor;
                cursor: pointer;
              }

            }

          }

        }

      }

    }

  }

}

.test{

  .container{
    background-color: rgb(88, 93, 117);
    margin: 0 auto;
    display: flex;
    align-items: center;

    .sliderGrid{
      height: 377px;
      width: 320px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
      grid-template-rows: 1.7fr 0.3fr;
      grid-template-areas:
       "arrowLeft imageSlider arrowRight"
       "arrowLeft revertGender arrowRight";

      @keyframes sliderRotate{
        0%{transform: rotateY(0deg);}
        50%{transform: rotateY(90deg);}
        100%{transform: rotateY(0deg);}
      }

      .arrowLeft{
        grid-area: arrowLeft;
        i{
          padding: 5px 5px 5px 3px;
        }
      }
      .arrowRight{
        grid-area: arrowRight;
        i{
          padding: 5px 3px 5px 5px;
        }
      }
      .imageSlider{
        grid-area: imageSlider;
        // display: flex;
        // overflow: hidden;
        // height: 320px;
      }
      .revertGender{
        grid-area: revertGender;
        background-color: white;
        border-radius: 0px 0px 15px 15px;
        @include flexAlign;
        justify-content: center;
        font-size: 30px;
        border: none;
        transition: .4s ease;

        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        &:hover{
          cursor: pointer;
          // animation: sliderRotate 4s ease infinite;
        }

        i{
          margin-left: 10px;
          font-size: 30px;
        }

      }

      .arrow{
        @include flexAlign;

        i{
          font-size: 30px;
          background-color: white;
          border-radius: 15px;
        }

      }

      .registrBestAccountPeopleSlider{
        height: 320px;
        width: 240px;
        @include fonAlign;
        overflow: hidden;
        border-radius: 15px 15px 0px 0px;
        transition: .4s ease;
        background-image: url(../img/photoAccount/girl3.jpg);

        .registrBestAccountPeopleSliderHover{
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          position: relative;
          top: 100%;

          .contentTitleSlider{
            @include flexAlign;
            flex-direction: column;

            .buttonSliderClose{
              width: 100%;
              border: none;
              background-color: rgba(0,0,0,0);
              color: white;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              padding: 5px;
              font-style: 15px;
              transition: .4s ease;

              &:hover{
                cursor: pointer;
                background-color: black;
              }

              i{
                margin-left: 5px;
              }

            }

            h3{
              font-size: 30px;
              align-items: center;
              color: white;
              font-weight: 100;
            }

          }

          .registrBestAccountPeopleSliderHoverGrid{
            width: 200px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 0.5fr;
            gap: 10px;
            grid-template-areas:
              "likeBestAccountRegistr mailBestAccountRegistr"
              "linkBestAccountRegistr linkBestAccountRegistr";

            div{
              border: 2px solid white;
              border-radius: 5px;
              @include flexAlign;
              padding: 5px;

              i{
                font-size: 40px;
                color: white;
              }

            }

            .likeBestAccountRegistrSlider {
              grid-area: likeBestAccountRegistr;

            }

            .mailBestAccountRegistrSlider {
              grid-area: mailBestAccountRegistr;

            }

            .linkBestAccountRegistrSlider {
              border: 2px solid white;
              border-radius: 5px;
              background-color: rgba(0,0,0,0);
              font-size: 25px;
              grid-area: linkBestAccountRegistr;
              color: white;
              padding: 5px 0;

            }

          }

        }

      }

    }

  }

}

//media запросы

//первая часть с регистрацией и входом
@media (max-width: 426px){

  .registration{

    .container{
      padding: 60px 30px 40px 30px;
      border-radius: 0px;
      min-width: 100%;

    }

  }

  .registrForm{

    input{
      width: 250px;
    }

  }

  .enterRegistrPC{
    display: none;
  }

  .enterRegistrMob{
    @include flexAlign;
    flex-direction: column;
  }

}

// вторая часть с топом людей

@media (max-width: 1140px){

  .registrBestAccountPeopleNone{
    display: none;
  }

}

@media (max-width: 780px){

  .topGirlRegistr{
    flex-wrap: wrap;
  }

  .topManRegistr{
    flex-wrap: wrap;
  }

}

@media (max-width: 590px){

  .information{

    .container{

      .sliderGrid{
        display: grid;
      }

      .topGirlRegistr{
        display: none;
      }

      .topManRegistr{
        display: none;
      }

    }

  }

}

@media (max-width: 426px){

  .registration{

    .container{

      .registrForm{
        margin-top: 10px;

        button{
          margin-top: 20px;
        }

      }

      .enterRegistrPC{

        h3 , button{
          margin-top: 7px;
        }

        .socialToils{
          display: none;
        }

        a{
          margin-top: 10px;
        }

      }

    }

  }

  .information{

    .container{
      border-radius: 0px;
      justify-content: center;
    }

  }

}
