

.adminPanel{
  position: fixed;
  top: 20%;
  left: 0;
  background-color: rgba(168, 130, 141, 0.5);
  z-index: 10;
}

$mainColor: rgb(182, 67, 143);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: .4s ease;

  &::-webkit-scrollbar{
    display: none;
  }

  &:focus{
    outline: none;
  }

  &::selection {
   color: #fff;
   background-color: #595959;
}

}

@import '../registrPage/_registrPage';


@import '_media';
