.catalog {
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  margin: 70px auto;
}
.catalog .sidebar {
  width: 25%;
  min-height: 300px;
  margin-right: 40px;
}
.catalog .sidebar details {
  margin-top: 20px;
  -webkit-user-select: none;
}
.catalog .sidebar details[open] summary {
  color: #ef5b70;
}
.catalog .sidebar details[open] summary::after {
  content: "";
  width: 9px;
  height: 6px;
  background-image: url(image/arrowOpen.png);
}
.catalog .sidebar details summary {
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  padding: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: space-between;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.catalog .sidebar details summary:hover {
  cursor: pointer;
}
.catalog .sidebar details summary::-webkit-details-marker {
  display: none;
}
.catalog .sidebar details summary::after {
  content: "";
  width: 9px;
  height: 6px;
  background-image: url(image/arrowClose.png);
}
.catalog .sidebar details button {
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-left: 20px;
  margin-top: 20px;
  border: none;
  background-color: #fff;
  color: #6f6e6e;
  transition: 0.4s ease;
}
.catalog .sidebar details button:hover {
  cursor: pointer;
  color: black;
}
.catalog .product {
  width: 75%;
  min-height: 100px;
}
.catalog .product .filter {
  width: 100%;
  min-height: 100px;
}
.catalog .product .filter .filterTop {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}
.catalog .product .filter .filterTop h2 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
}
.catalog .product .filter .filterTop .filterTrending {
  min-height: 100px;
  width: 33%;
}
.catalog .product .filter .filterTop .filterTrending span {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.catalog .product .filter .filterTop .filterTrending span button {
  border: none;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #e8e8e8;
  background-color: #fff;
  margin-bottom: 10px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  transition: 0.4s ease;
}
.catalog .product .filter .filterTop .filterTrending span button:hover {
  cursor: pointer;
  color: black;
}
.catalog .product .filter .filterTop .filterSize {
  min-height: 100px;
  width: 33%;
}
.catalog .product .filter .filterTop .filterSize div {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}
.catalog .product .filter .filterTop .filterSize div span {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.catalog .product .filter .filterTop .filterPrice {
  min-height: 100px;
  width: 33%;
}
.catalog .product .filter .filterTop .filterPrice .container {
  height: 47px;
  width: 100%;
  display: flex;
  align-items: center;
}
.catalog .product .filter .filterTop .filterPrice .container .band {
  height: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: #f0f0f0;
}
.catalog .product .filter .filterTop .filterPrice .container .band .circle {
  background-color: #f16d7f;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.catalog .product .filter .filterTop .filterPrice .container .band .circle:nth-child(1) {
  margin-left: 23px;
}
.catalog .product .filter .filterTop .filterPrice .container .band .bandActive {
  background-color: #f16d7f;
  width: 124px;
  height: 100%;
}
.catalog .product .filter .filterTop .filterPrice .price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
}
.catalog .product .filterBottom {
  width: 100%;
  height: 50px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: flex-start;
}
.catalog .product .filterBottom p {
  padding: 10px;
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  margin-left: 10px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog .product .filterBottom select {
  height: 30px;
  border-left: none;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
}
.catalog .product .items1 {
  background-image: url(image/image1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: contain;
  background-size: cover;
}
.catalog .product .items2 {
  background-image: url(image/image2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: contain;
  background-size: cover;
}
.catalog .product .items3 {
  background-image: url(image/image3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: contain;
  background-size: cover;
}
.catalog .product .items4 {
  background-image: url(image/image4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: contain;
}
.catalog .product .items5 {
  background-image: url(image/image5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: contain;
  background-size: cover;
}
.catalog .product .items6 {
  background-image: url(image/image6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: contain;
}
.catalog .product .items7 {
  background-image: url(image/image7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: contain;
  background-size: cover;
}
.catalog .product .items8 {
  background-image: url(image/image8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: contain;
  background-size: cover;
}
.catalog .product .items9 {
  background-image: url(image/image9.png);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: contain;
}
.catalog .product .pagination {
  margin-bottom: 100px;
  height: 44px;
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.catalog .product .pagination .page {
  width: 263px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.catalog .product .pagination .page button {
  border: none;
  background-color: #ffffff;
}
.catalog .product .pagination .page button i {
  height: 14px;
  color: #aaaaaa;
  transition: 0.4s ease;
}
.catalog .product .pagination .page button i:hover {
  color: #ef5b70;
  cursor: pointer;
}
.catalog .product .pagination .page a {
  color: #c4c4c4;
  font-size: 16px;
  text-decoration: none;
  padding-bottom: 2px;
}
.catalog .product .pagination .page .active {
  color: #ef5b70;
}
.catalog .product .vievAll {
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-size: 16px;
  transition: 0.4s ease;
}
.catalog .product .vievAll:hover {
  cursor: pointer;
  border: 1px solid #fff;
  background-color: #ef5b70;
  color: #fff;
}

.feature {
  width: 100%;
  height: 341px;
  background-color: #222224;
}
.feature .container {
  height: 100%;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.feature .container div {
  min-height: 150px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.feature .container div img {
  margin-bottom: 15px;
}
.feature .container div .featureImg1 {
  width: 45px;
  height: 32px;
}
.feature .container div .featureImg2 {
  width: 40px;
  height: 40px;
}
.feature .container div .featureImg3 {
  width: 47px;
  height: 35px;
}
.feature .container div .topText {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.feature .container div .phoneticText {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.95px;
}

.subscribe {
  background-image: url(../image/fonBeach.jpg);
}