* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

* .fp-tableCell {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* ::-webkit-scrollbar-track {
  background-color: #666666;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #424242;
}

* ::-webkit-scrollbar-thumb:hover {
  background-color: #363636;
}

* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

* input::-webkit-input-placeholder {
  color: #a9a9a9;
}

* ::-moz-selection {
  color: #a9a9a9;
}

* ::selection {
  color: #a9a9a9;
}

body {
  background-color: #949494;
}

.section .fp-tableCell {
  height: 100vh;
  width: 100wh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-image: url(../img/space.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
  color: #232323;
}

header #canvas {
  position: absolute;
}

header #wrap {
  position: absolute;
  border: 10px solid rgba(255, 255, 255, 0.5);
  height: 600px;
  width: 600px;
  margin: 50px;
  border-radius: 50%;
}

header #wrap #inner {
  background: rgba(255, 255, 255, 0.7);
  height: 570px;
  width: 570px;
  border-radius: 50%;
  margin: auto;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Mate SC', serif;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  overflow: hidden;
  position: relative;
}

header #wrap #inner:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

header #wrap #inner #nameWebsite, header #wrap #inner #persona {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

header #wrap #inner #nameWebsite {
  z-index: 1;
}

header #wrap #inner #nameWebsite h1 {
  text-transform: uppercase;
  color: #2d447f;
  font-size: 60px;
}

header #wrap #inner #heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  opacity: 0;
  z-index: 0;
}

header #wrap #inner #heading h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

header #wrap #inner #persona {
  opacity: 0;
  z-index: 0;
}

header #wrap #inner #persona img {
  width: 575px;
}

#sectionsSkills {
  background-image: url(../img/skillsBackground.jpg);
  background-position: bottom;
  background-size: cover;
  font-family: 'Staatliches', cursive;
  color: #bbb;
}

#sectionsSkills h2 {
  font-size: 40px;
  padding: 40px;
}

#sectionsSkills #blockSkills {
  height: 500px;
  width: 1024px;
  gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "working VueJs working2 working3" "JavaScript JavaScript working2 working3" "JavaScript JavaScript ThreeJs ThreeJs" "HTML CSS ThreeJs ThreeJs";
}

#sectionsSkills #blockSkills #JavaScript {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: JavaScript;
}

#sectionsSkills #blockSkills #working {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: working;
}

#sectionsSkills #blockSkills #ThreeJs {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: ThreeJs;
}

#sectionsSkills #blockSkills #HTML {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: HTML;
}

#sectionsSkills #blockSkills #CSS {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: CSS;
}

#sectionsSkills #blockSkills #VueJs {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: VueJs;
}

#sectionsSkills #blockSkills #working2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: working2;
}

#sectionsSkills #blockSkills #working3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: working3;
}

#sectionsSkills #blockSkills #working .headerSkill, #sectionsSkills #blockSkills #working2 .headerSkill, #sectionsSkills #blockSkills #working3 .headerSkill {
  font-size: 25px;
}

#sectionsSkills #blockSkills .cardSkills {
  background-color: rgba(162, 162, 162, 0.5);
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sectionsSkills #blockSkills .cardSkills:hover {
  background-color: rgba(71, 71, 71, 0.5);
  border: 1px solid #8f8f8f;
  cursor: pointer;
}

#sectionsSkills #blockSkills .cardSkills .headerSkill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

#sectionsSkills #blockSkills .cardSkills .headerSkill i {
  margin-right: 10px;
}

#sectionsSkills #blockSkills .cardSkills span {
  font-size: 20px;
}

#sectionsSkills .exampleBlock {
  position: absolute;
  margin: 0 auto;
  width: 0vw;
  height: 0vh;
  background-color: #757575;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  border-radius: 50%;
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

#sectionsSkills .exampleBlock .contentExampleBlock {
  background-color: #5f5f5f;
  width: 100%;
  height: 100%;
}

#sectionsSkills .exampleBlock .exampleClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 15px;
  color: #305199;
  margin: 4px auto;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

#sectionsSkills .exampleBlock .exampleClose p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sectionsSkills .exampleBlock .exampleClose p i {
  margin-left: 5px;
}

#sectionsSkills .exampleBlock .exampleClose:hover {
  color: #2d447f;
  cursor: pointer;
}

#particles-js {
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  color: #bbb;
  background-color: #2d2d2d;
}

#particles-js #blockPersona {
  background-color: rgba(103, 103, 103, 0.4);
  border: 1px solid black;
  border-radius: 25px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#particles-js #blockPersona #personInfo {
  position: relative;
  height: 700px;
  width: 580px;
}

#particles-js #blockPersona #personInfo:hover #personImg {
  -webkit-transform: translateY(30px) scale(0.7);
          transform: translateY(30px) scale(0.7);
}

#particles-js #blockPersona #personInfo:hover #personImg img {
  border-radius: 25px;
}

#particles-js #blockPersona #personInfo #personImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  z-index: 10;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#particles-js #blockPersona #personInfo #personImg img {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  border-radius: 25px 0 0 25px;
}

#particles-js #blockPersona #personInfo #personContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

#particles-js #blockPersona #personInfo #personContent h2 {
  text-align: center;
}

#particles-js #blockPersona #personInfo #personContent h2 span {
  font-size: 20px;
}

#particles-js #blockPersona #personInfo #personContent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 5px;
  font-size: 26px;
}

#particles-js #blockPersona #personInfo #personContent ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  background-color: rgba(101, 101, 101, 0.5);
  border: 1px solid #3f3f3f;
  margin: 0px 5px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

#particles-js #blockPersona #personInfo #personContent ul li:hover {
  background-color: rgba(49, 49, 49, 0.5);
  border: 1px solid #7c7c7c;
  cursor: pointer;
}

#particles-js #blockPersona #personInfo #personContent ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  text-decoration: none;
}

#particles-js #blockPersona #personInfo #personContent ul li a img {
  width: 28px;
}

#particles-js #blockPersona #personInfo #personContent ul #socialTelegram a img {
  position: absolute;
  right: 9px;
}

#particles-js #blockPersona #statsPersona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 40px 20px;
}

#particles-js #blockPersona #statsPersona h2 {
  text-align: center;
}

#particles-js #blockPersona #statsPersona ol {
  margin-top: 20px;
  font-weight: 500;
  line-height: 33px;
}

#particles-js #blockPersona #statsPersona ol ul {
  font-size: 25px;
  margin-top: 15px;
}

#particles-js #blockPersona #statsPersona ol ul li {
  font-size: 20px;
  margin-left: 22px;
}

#particles-js #blockPersona #statsPersona ol #statsPersonaPerks li {
  position: relative;
  font-weight: bold;
}

#particles-js #blockPersona #statsPersona ol #statsPersonaPerks li:hover {
  cursor: help;
}

#particles-js #blockPersona #statsPersona ol #statsPersonaPerks li:hover::after {
  font-weight: normal;
  content: attr(data-title);
  position: absolute;
  left: 20%;
  top: 30%;
  z-index: 100;
  background: rgba(54, 54, 54, 0.9);
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #333;
  line-height: 20px;
}

#infoContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(95, 95, 95, 0);
  z-index: 20;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  overflow: hidden;
}

#infoContainer:hover {
  cursor: pointer;
}

#infoContainer #infoContent {
  opacity: 0;
  background-color: #424242;
  border-radius: 25px;
  border: 1px solid black;
  color: black;
  padding: 20px;
  font-size: 20px;
}

#infoContainer #infoContent ul li {
  list-style: none;
}

#infoContainer #infoContent ul li a {
  text-decoration: none;
  color: black;
}

#infoContainer #infoButton {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #313131;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  background-color: rgba(95, 95, 95, 0.5);
  overflow: hidden;
}

#infoContainer #infoButton:hover {
  cursor: pointer;
  background-color: rgba(163, 163, 163, 0.5);
  color: #bdbdbd;
}
/*# sourceMappingURL=style.css.map */