#projectPage{
    left: 101%;

    .projectPage-scroll{
        overflow-y: scroll;
        .projectPage-scroll-mergin{
            height: 300px;
            width: 100%;
            @include tablet {
                height: 150px;
            }
        }
    }

    .projectPage_items{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        max-width: 632px;

        .projectPage_items-item{
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 6px;
            overflow: hidden;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span{
                position: relative;
                top: 60%;

                display: block;
                height: min-content;
                padding: 4px;
                transition: .4s ease;

                background: #FFF;
                box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.25);
                border-radius: 6px;

                color: #000;
                font-weight: 400;
                font-size: 20px;

            }

            .projectPage_items{
                position: absolute;
                backdrop-filter: blur(6px);
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .4s ease;
            }

            &:hover{	
                .projectPage_items{
                    opacity: 1;
                }
                span{
                    top: 0%;
                }

            }

        }

    }

}