#personaPage{
    // right: 101%;
    right: 0;

    .personaPage_content{
        margin-top: 16px;

        .personaPage_content-grid{
            display: grid;
            grid-template-columns: 1fr 1px 1fr;

            .content_skill-heading, .content_characteristics-heading {
                display: flex;
                align-items: center;
                margin-bottom: 32px;
                h2{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 24px;

                }
                img{
                    height: 20px;
                    width: 20px;
                }

            }

            .personaPage_content-characteristics{
                padding: 12px;
                .content_characteristics-heading{
                    justify-content: end;
                    img{
                        margin-right: 4px;
                    }

                }

                .content_characteristics-body{
                    max-width: 450px;
                    .characteristics_body-item{
                        min-height: 72px;
                        display: grid;
                        column-gap: 12px;
                        margin-bottom: 12px;

                        div{
                            border: 1px solid #fff;
                            border-radius: 6px;
                        }

                        .body_item-text{
                            padding: 4px 8px;
                            h3{
                                font-size: 20px;
                                font-weight: 400;
                            }
                            p{
                                font-size: 16px;
                                font-weight: 400;
                            }

                        }

                        .body_item-svg{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                width: 45px;
                            }
                        }

                    }

                    :nth-child(2n+1){grid-template-columns: 1fr 72px;}
                    :nth-child(2n){ grid-template-columns: 72px 1fr;}

                }

            }

            .personaPage_content-line{
                width: 1px;
                background-color: #fff;
                height: 100%;
            }

            .personaPage_content-skill{
                padding: 12px;
                .content_skill-heading{
                    img{
                        margin-left: 4px;
                    }

                }

                .content_skill-body{
                    display: grid;
                    grid-template-columns: 1fr 40px;
                    .skill_body-item-container{
                        display: flex;
                        justify-content: space-between;
                        .skill_body-item{
                            margin-right: 12px;
                            .body_item-progress{
                                height: 336px;
                                width: 60px;
                                border: 1px solid #fff;
                                display: flex;
                                align-items: end;
                                overflow: hidden;
                                margin-bottom: 12px;
                                border-radius: 40px;

                                .body_item-progress-completion{
                                    width: 100%;
                                    border-radius: 40px;
                                    background-color: #fff;
                                }

                            }

                            .body_item-icon{
                                width: 60px;
                                height: 60px;
                            }

                        }
                        
                    }

                    .skill_body-button-container{
                        height: 400px;
                        width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .skill_body-button{
                            width: 100px;
                            padding: 12px 6px;
                            border: 1px solid #fff;
                            border-radius: 6px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                height: 30px;
                            }
                        }
                    }

                }

            }

        }

    }

}