.btn_return-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 24px;
    padding: 0 24px;

    .btn_return{
        position: relative;

        border: 1px solid #000;
        padding: 10px;
        border-radius: 6px;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: .4s ease;

        .btn_return-text, .btn_return-btn{
            font-family: "Kashima";
            font-size: 20px;
            line-height: 16px;
            letter-spacing: 0.095em;
            color: #FFFFFF;
        }

        .btn_return-top{
            display: block;
            font-size: 28px;
            transform: rotate(-90deg);
            padding-bottom: 2px;
        }

        .btn_return-left{
            display: block;
            font-size: 28px;
            transform: rotate(-180deg);
            height: 13px;
            margin-right: 4px;
        }

        .btn_return-text{
            height: 12px;
            margin-left: 4px;
        }
    
        &:hover{
            border: 1px solid #FFF;
            cursor: pointer;
        }

    }

}

.main_content{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .content_container{
        width: fit-content;
    }

    .main_content-heading{
        font-size: 25px;
        font-weight: 200;
        text-align: center;

        .content_heading-prof{
            margin-bottom: 16px;

            .heading_prof-container{
                background: #ffffff;
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 4px;
                color: #000000;
                display: inline-block;
                padding: 10px 5px;
                font-weight: 400;
            }
        }

    }

}

.container{
    margin: 0px auto;
    max-width: 1366px;
    width: 100%;
    transition: .4s ease;
    display: flex;

}

@import "../style/media.scss";
// @import "../style/pages/mainPage.scss";

// @import "../style/pages/projectPage.scss";
// @import "../style/pages/projectItemPage.scss";

// @import "../style/pages/personaPage.scss";